/* Estilos generales para el formulario */
.formulario-container {
    width: 100%;
    margin: 20px; 
    margin-block-end: 10px;
    justify-content: center;
  }
  
  /* Estilos para cada grupo de entrada del formulario */
  .form-group {
    margin-bottom: 3px; 
  }
  
  /* Estilos para las etiquetas del formulario */
  .form-group label {
    display: block; 
    font-weight: bold;
  }
  
  /* Estilos para los campos de entrada del formulario */
  .form-group input {
    width: 97%;
    padding: 7px; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    margin-top: 3px; 
    margin-bottom: 3px;
    
  }
  
  /* Estilos para el botón de envío */
  .formulario-container button {
    margin-top: 15px; 
    padding: 10px; 
    background-color: #007BFF; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Cambiar el color del botón al pasar el mouse por encima */
  .formulario-container button:hover {
    background-color: #0056b3;
  }
  